<div class="w-75 p-3" style="background-color: #eee;">
    <h2>읽은 책: 
        <span class="badge badge-secondary">
            <%= "#{@books.count}권" %>
        </span>
    </h2>
    <% unless @favorite_genre.nil? %>
        <h3>최애 장르: <%= @favorite_genre[0] %>(<%= @favorite_genre[1] %>권)</h3>
    <% end %>
    <table class="table">
        <th>도서명</th>
        <th>저자</th>
        <th>페이지 수</th>
        <th>장르</th>
        <th>걸린 일수</th>
        <% @books.each do |book| %>
            <tr>
                <td><%= book.title %></td>
                <td><%= book.author %></td>
                <td><%= book.page %></td>
                <td><%= book.genre %></td>
                <% tmp_read = Read.find_by(book_id: book.id, user_id: current_user.id) %>
                <td><%= (tmp_read.finish.to_date - tmp_read.start.to_date).to_i %></td>
            </tr>
        <% end %>
    </table>
</div>