<div class="w-75 p-3" style="background-color: #eee;">
    <h2><%= @mentor.email %>'s 멘티 정보 <span class="badge badge-secondary"></h2>
    <table class="table">
        <th>이메일</th>
        <th>이름</th>
        <th>가입일</th>
        <th>독서량</th>
        <th>멘티 수</th>
        <% @users.each do |u| %>
            <tr>
                <td><%= u.email %></td>
                <td><%= u.name %></td>
                <td><%= u.created_at.to_date %></td>
                <td><%= u.reads.where(status: true).count %></td>
                <td><%= u.mentees.count %></td>
            </tr>
        <% end %>
    </table>
</div>
